body {
    background-color: aliceblue;
}
h1 {
    text-align: center;
    color: azure;
    padding-bottom: 20px;
}
a {
    text-decoration: none;
    color: lightgoldenrodyellow;
}
.charts {
    background-color: #202020;
    margin: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.chart {
    min-width: auto;
    max-width: auto;
    height: auto;
    margin: 20px 100px;
}